 <div class="w-5/12 h-auto bgColor-pri ff-pri fx fx-j-c m-0-auto  mt-16 rounded">
          <form class="w-full h-auto bgColor-sec pb-10 rounded"  method="post">
              <div class="w-3/5 h-auto bgColor-sec m-0-auto mt-4 txt-h-c">
                <div class="color-pri fw-black mb-5 fs-xl">
                  <span class="color-2-600">Sky</span>Beat
                </div>
               <h4 class="color-2-800 mb-5">Admin Authentication.</h4>
                <input class="w-full mb-4 py-3 px-3 color-2-800 holder:color-2-600 fw-bold
                shadow b-solid border-2 b-color-pri-200 rounded outline-0 focus:b-color-pri
                "type="text"name="" placeholder="Email">

                <input class="w-full mb-4 py-3 px-3 color-2-800 holder:color-2-600 fw-bold
                shadow b-solid border-2 b-color-pri-200 rounded outline-0 focus:b-color-pri"
                type="text"name="" placeholder="Password">

                <a href="#templates/customer/booking/services">
                  <button class="w-full bgColor-pri color-sec fs-lg mt-2 mb-4 py-3 px-3 border-0 rounded
                  fw-bold ff-pri pointer outline-0" type="button" name="join">Login</button>
                </a>
              </div>
          </form>
      </div>
