 <div class="bgColor-1 h-screen">
    <div class="w-9/12 h-full fx fx-j-s ff-pri m-0-auto">

      <img class="w-1/3 contain absolute ml-20 mt-8"
      src="./assets/images/hopdance.png" alt="hop dance">

      <div class="w-8/12 h-auto bgColor-pri fx fx-j-e m-0-auto  mt-16 rounded">

          <form class="w-9/12 h-auto bgColor-sec pb-10 rounded" action="index.html" method="post">
              <div class="w-3/5 h-auto bgColor-sec m-0-auto mt-4 txt-h-c">
                <div class="color-pri fw-black mb-12 fs-xl">
                  <span class="color-2-600">Sky</span>Beat
                </div>
               <h4 class="color-2-800 mb-5">Forgot Password?</h4>

                <input class="w-full mb-4 py-3 px-3 color-2-800 holder:color-2-600 fw-bold
                shadow b-solid border-2 b-color-pri-200 rounded outline-0 focus:b-color-pri
                "type="text"name="" placeholder="Enter your email">

                <button class="w-full bgColor-pri color-sec fs-lg mt-2 mb-4 py-3 px-3 border-0 rounded
                fw-bold ff-pri pointer outline-0" type="submit" name="join">Submit</button>

                 <p><a class="no-line color-pri" href="login.html">Back to login?</a></p>
              </div>
          </form>
      </div>
    </div>
  </div>
