<div id="dashboard"></div>
<main class="w-full h-screen bgColor-3-100 fx fx-j-e ff-pri">
  <div id="header"></div>

  <div class="w-10/12 h-auto  bgColor-trans   ml-20 mr-5 mt-16 ff-pri">
    <div class="w-10/12 h-auto bgColor-trans fx fx-j-btw">
      <h3 class="pb-5 px-5 color-3-700">
        <i class="fal fa-music"></i> Manage Artists.
      </h3>
      <button class="w-auto bgColor-pri color-sec fs-xs fw-normal  h-8 px-4 border-0 rounded
      fw-bold ff-pri pointer outline-0" type="submit" name="join">
      <i class="fa fa-plus"></i>  New artist
     </button>
    </div>
    <table class="table-auto border-collapse bgColor-trans">

      <thead>
        <tr class=" bgColor-sec ">
          <th class="px-4 py-2 color-2-700">  </th>
          <th class="px-4 py-2 color-2-700">Artist Name</th>
          <th class="px-4 py-2 color-2-700">Country</th>
          <th class="px-4 py-2 color-2-700">Date of Birth</th>
          <th class="px-4 py-2 color-2-700">Cost Per Hour<th/>


        </tr>
      </thead>
      <tbody>
        <tr class="pointer bgColor-sec border-8 b-solid b-color-3-100">
          <td class="px-4 py-1 color-2-600 border-0  ">
            <div class="rounded-full bgColor-pri h-8 w-8">
              <img class="w-full h-full rounded-full cover" src="./assets/images/a2.jpg" alt="">
            </div>
          </td>
          <td class="px-4 py-1 color-2-600 border-0">Ariana Grande</td>
          <td class="px-4 py-1 color-2-600 border-0">United States</td>
          <td class="px-4 py-1 color-2-600 border-0">June 12 1993</td>
         <td class="px-4 py-1color-2-600 border-0  ">Ksh 2000</td>



         <td class="px-4 py-1 color-pri">
           <button class="w-auto bgColor-2-600 color-danger fs-sm  py-1 px-3 border-0 rounded
           fw-bold ff-pri pointer outline-0" type="submit" name="join">Remove</button>
         </td>
        </tr>


      </tbody>
    </table>
</div>
</main>

<script type="text/javascript">
$(document).ready(function()
{
  $('#dashboard').load('templates/admin/manage/dashboard.html');
  $('#header').load('templates/admin/manage/header.html');
});
</script>
