<div id="dashboard"></div>
<main class="w-full h-screen bgColor-3-100 fx fx-j-e ff-pri">
  <div id="header"></div>


    <div class="w-10/12 h-auto  bgColor-   ml-20 mr-5 mt-16 ff-pri">
      <h3 class="pb-5 px-5 color-3-700">
        <i class="fal fa-ticket"></i>  Manage Bookings.</h3>
      <table class="table-auto border-collapse bgColor-trans">

        <thead>
          <tr class=" bgColor-sec ">
            <th class="px-4 py-2 color-2-700">  </th>
            <th class="px-4 py-2 color-2-700">Customer</th>
            <th class="px-4 py-2 color-2-700">Mpesa Code</th>
            <th class="px-4 py-2 color-2-700"></th>
            <th class=" py-2 color-2-700">Booked artist</th>
            <th class="px-4 py-2 color-2-700">Date</th>
            <th class="px-4 py-2 color-2-700">from</th>
           <th class="px-4 py-2 color-2-700">To</th>
           <th class="px-4 py-2 color-2-700">Status</th>
           <th class="px-4 py-2 color-2-700"></th>
            <th class="px-4 py-2 color-2-700"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer bgColor-sec border-8 b-solid b-color-3-100">
            <td class="px-4 py-1 color-2-600 border-0  ">
              <div class="rounded-full bgColor-pri h-8 w-8">
                <img class="w-full h-full rounded-full cover" src="./assets/images/pic.jpg" alt="">
              </div>
            </td>
            <td class="px-4 py-1 color-2-600 border-0">Tracey George</td>
            <td class="px-4 py-1 color-2-600 border-0">G096HM016</td>
            <td class="px-4 color-2-600 border-0  ">
              <div class="rounded-full bgColor-pri h-8 w-8">
                <img class="w-full h-full rounded-full cover" src="./assets/images/a2.jpg" alt="">
              </div>
            </td>
            <td class="px-2 py-1 color-2-600 border-0">Ariana Grande</td>
            <td class="px-4 py-1 color-2-600 border-0">May 12 2020</td>
           <td class="px-4 py-1 color-2-600 border-0">12:00 pm</td>
            <td class="px-4 py-1 color-2-600 border-0">16:00 pm</td>
            <td class="px-4 py-1 color-2-600 border-0">Pending</td>

           <td class="px-2 py-1 color-pri">
             <button class="w-auto bgColor-pri color-sec fs-sm  py-1 px-3 border-0 rounded
             fw-bold ff-pri pointer outline-0" type="submit" name="join">Accept</button>
           </td>
           <td class="px-2 py-1 color-pri">
             <button class="w-auto bgColor-3-400 color-danger fs-sm  py-1 px-3 border-0 rounded
             fw-bold ff-pri pointer outline-0" type="submit" name="join">Reject</button>
           </td>
         </tr>

         <tr class="pointer bgColor-sec border-8 b-solid b-color-3-100">
           <td class="px-4 py-1 color-2-600 border-0  ">
             <div class="rounded-full bgColor-pri h-8 w-8">
               <img class="w-full h-full rounded-full cover" src="./assets/images/pic.jpg" alt="">
             </div>
           </td>
           <td class="px-4 py-1 color-2-600 border-0">Tracey George</td>
           <td class="px-4 py-1 color-2-600 border-0">G096HM016</td>
           <td class="px-4 color-2-600 border-0  ">
             <div class="rounded-full bgColor-pri h-8 w-8">
               <img class="w-full h-full rounded-full cover" src="./assets/images/a.jpg" alt="">
             </div>
           </td>
           <td class="px-2 py-1 color-2-600 border-0">Justin Beiber</td>
           <td class="px-4 py-1 color-2-600 border-0">May 12 2020</td>
          <td class="px-4 py-1 color-2-600 border-0">12:00 pm</td>
           <td class="px-4 py-1 color-2-600 border-0">16:00 pm</td>
           <td class="px-4 py-1 color-pri border-0">Confirmed</td>

          <td class="px-2 py-1 color-pri">
            <!-- <button class="w-auto bgColor-pri color-sec fs-sm py-1 px-3 border-0 rounded
            fw-bold ff-pri pointer outline-0" type="submit" name="join">Accept</button> -->
          </td>
          <td class="px-2 py-1 color-pri">
            <!-- <button class="w-auto bgColor-3-400 color-danger fs-sm  py-1 px-3 border-0 rounded
            fw-bold ff-pri pointer outline-0" type="submit" name="join">Reject</button> -->
          </td>
        </tr>



     <tr class="pointer bgColor-sec border-8 b-solid b-color-3-100">
       <td class="px-4 py-1 color-2-600 border-0  ">
         <div class="rounded-full bgColor-pri h-8 w-8">
           <img class="w-full h-full rounded-full cover" src="./assets/images/pic.jpg" alt="">
         </div>
       </td>
       <td class="px-4 py-1 color-2-600 border-0">Tracey George</td>
       <td class="px-4 py-1 color-2-600 border-0">G096HM016</td>
       <td class="px-4 color-2-600 border-0  ">
         <div class="rounded-full bgColor-pri h-8 w-8">
           <img class="w-full h-full rounded-full cover" src="./assets/images/a4.jpg" alt="">
         </div>
       </td>
       <td class="px-2 py-1 color-2-600 border-0">Nick Minaj</td>
       <td class="px-4 py-1 color-2-600 border-0">May 12 2020</td>
      <td class="px-4 py-1 color-2-600 border-0">12:00 pm</td>
       <td class="px-4 py-1 color-2-600 border-0">16:00 pm</td>
       <td class="px-4 py-1 color-danger border-0">Rejected</td>

      <td class="px-2 py-1 color-pri">
        <!-- <button class="w-auto bgColor-pri color-sec fs-sm py-1 px-3 border-0 rounded
        fw-bold ff-pri pointer outline-0" type="submit" name="join">Accept</button> -->
      </td>
      <td class="px-2 py-1 color-pri">
        <!-- <button class="w-auto bgColor-3-400 color-danger fs-sm  py-1 px-3 border-0 rounded
        fw-bold ff-pri pointer outline-0" type="submit" name="join">Reject</button> -->
      </td>
    </tr>
        </tbody>

      </table>
  </div>
</main>

<script type="text/javascript">
$(document).ready(function()
{
  $('#dashboard').load('templates/admin/manage/dashboard.html');
  $('#header').load('templates/admin/manage/header.html');
});
</script>
