<div class="w-11/12 h-12  fixed ml-16 fx fx-i-c ff-pri color-3-600 fw-black ">
<div class="ml-5  pointer fa-lg">
  <i class="fas fa-tasks"></i> Management
</div>

<div class="fx fx-j-e fx-i-c w-9/12 bgColor-3-100 mt-3 ">
  <div class="rounded-full bgColor-pri h-6 w-6">
  <img class="w-full h-full rounded-full cover" src="./assets/images/pic.jpg" alt="">
  </div>
 <h5 class="ml-3 fa-xs">Tracey George
<p class="color-pri fa-xs">
  <i class="fas fa-certificate"></i> Adminstrator
</p>
 </h5>

</div>
</div>
</div>
