<div id="dashboard"></div>
<main class="w-full h-screen bgColor-3-100 fx fx-j-e ff-pri">
  <div id="header"></div>

  <div class="w-10/12 h-auto  bgColor-trans  ml-20 mr-5 mt-16">
    <div class="w-full h-auto bgColor-trans rounded">
        <div class="fx fx-i-c fx-j-c w-full bgColor-sec  rounded">
          <div class="ml-5 color-pri">
            <h3> Hello Tracey! Welcome Back.</h3><br>
            <h4>Here is your daily statistics.</h4>
          </div>
            <div class="h-48 w-48 ml-5">
              <img class="w-full h-full contain"src="./assets/images/svg/hello2.svg" alt="welcome">
            </div>

         </div>
    <div class="w-full h-auto bgColor- mt-5 color-3-700 fw-black py-5 px-3 ">
     <div class="fx fx-i-c mb-4 fa-lg">
       <i class="fal fa-question-circle mr-2 mt-1"></i><h4> Overview.</h4>
     </div>
     <div class="fx w-full bgColor- ">
       <div class="w-1/5 bgColor-sec h-24 shadow rounded color-3-700 py-4 px-4 mr-5 pointer ">
        <div class="fx fx-j-c ls-wider">
          <i class="fa fa-badge-check fas-xl mr-1 color-pri"></i>
          <div class="fs-xl color-3-700">
           45888
           <h6 class="color-3-600 fs-xs py-3">Confirmed bookings</h6>
          </div>
        </div>
       </div>

       <div class="w-1/5 bgColor-sec h-24 shadow rounded color-3-700 py-4 px-4 mr-5 pointer">
        <div class="fx fx-j-c ls-wider">
          <i class="fa fa-exclamation-circle fas-xl mr-1 color-1"></i>
          <div class="fs-xl color-3-700">
           45888
           <h6 class="color-3-600 fs-xs py-3">Pending bookings</h6>
          </div>
        </div>
      </div>   <div class="w-1/5 bgColor-sec h-24 shadow rounded color-3-700 py-4 px-4 mr-5 pointer">
           <div class="fx fx-j-c ls-wider">
             <i class="fas fa-ban  fas-xl mr-1 color-danger"></i>
             <div class="fs-xl color-3-700">
              45888
              <h6 class="color-3-600 fs-xs py-3">Rejected bookings</h6>
             </div>
           </div>
          </div>
     </div>

    </div>

  </div>
</div>
</main>



<script type="text/javascript">
$(document).ready(function() {
  $('#dashboard').load('templates/admin/manage/dashboard.html');
  $('#header').load('templates/admin/manage/header.html');
});
</script>
