<div id="header">

 </div>

<main class="w-full h-screen bgColor-3-100 pt-16 ff-pri fx">
<div class="w-2/5 h-auto bgColor-3-100 ">

<div class="fixed w-2/5 h-screen bgColor-3-100 ">
  <form class="w-10/12 py-5 m-0-auto fx fx-c" action="index.html" method="post">
  <div id="UpdateAccount">
    <h4 class="color-2-800 mb-5 txt-h-c">Update Account</h4>
    <div class="rounded-full bgColor-pri h-20 w-20 m-0-auto">
      <img class="w-full h-full rounded-full cover" src="./assets/images/pic.jpg" alt="">
    </div>

  <div class="fx fx-j-btw">
   <label class="pt-5 fw-bold color-2-700" for="fullName">Name:</label>
    <input class="w-10/12 mt-4 py-2 px-3 color-2-800 holder:color-2-600 fw-bold
     b-solid border-2 b-color-pri-100 rounded outline-0 focus:b-color-pri"
    type="text" name="fullName" value="Tracey George">
  </div>

  <div class="fx fx-j-btw">
   <label class="pt-5 fw-bold color-2-700" for="fullName">Email:</label>
    <input class="w-10/12 mt-4 py-2 px-3 color-2-800 holder:color-2-600 fw-bold
     b-solid border-2 b-color-pri-100 rounded outline-0 focus:b-color-pri"
    type="text" name="fullName" value="traceygeorge@gmail.com">
  </div>

  <div class="fx fx-j-btw">
   <label class="pt-5 fw-bold color-2-700" for="fullName">Phone:</label>
    <input class="w-10/12 mt-4 py-2 px-3 color-2-800 holder:color-2-600 fw-bold
     b-solid border-2 b-color-pri-100 rounded outline-0 focus:b-color-pri"
    type="text" name="fullName" value="070 200 200 20">
  </div>

  <div class="fx fx-j-btw">
   <label for="Password"></label>
    <input id="getChangePassword" class="w-10/12 mt-4 bgColor-sec py-2 px-3
      color-pri fw-bold border-1 b-solid b-color-2-100 rounded outline-0  pointer"
    type="button" name="button" value="Change Password">
  </div>
  <div class="fx fx-j-btw">
   <label class="pt-5 fw-bold color-2-700" for=""></label>
   <button class="w-10/12 mt-4 bgColor-sec py-3 px-3  color-pri fw-black
    fs-md shadow b-solid border-2 b-color-pri-100 pointer rounded outline-0"
    type="button" name="join">Save Changes</button>
  </div>
</div>

<div id="ChangePasword" class="hide">
      <h4 class="color-2-800 txt-h-c">Change Password</h4>
  <div class="fx fx-c">
    <input class="w-11/12 mt-4 py-3 px-3 color-2-800 holder:color-2-600 fw-bold
     b-solid border-2 b-color-pri-100 rounded outline-0 focus:b-color-pri"
    type="password" name="fullName" value="" placeholder="Enter Current password">
  </div>

  <div class="fx fx-c">
    <input class="w-11/12 mt-4 py-3 px-3 color-2-800 holder:color-2-600 fw-bold
     b-solid border-2 b-color-pri-100 rounded outline-0 focus:b-color-pri"
    type="password" name="fullName" value="" placeholder="Enter new password">
  </div>

  <button class="w-11/12 mt-4 bgColor-sec py-3 px-3  color-pri fw-bold
   fs-md shadow b-solid border-2 b-color-pri-100 pointer rounded outline-0"
   type="button" name="join">Save Changes</button>

   <button id="getUpdateAccount" class="w-11/12 mt-10 bgColor-sec py-3 px-3
   color-pri fs-md shadow border-0 pointer rounded outline-0"
   type="button" name="join">Go back</button>
</div>
  </form>
</div>

</div>



<div class="w-3/5 h-64 bgColor-3-100 ">
  <table class="table-auto border-collapse bgColor-sec">
      <caption class="fw-black color-2-800 py-5">Booking History</caption>
    <thead>
      <tr class="shadow">
        <th class="px-4 py-2 color-2-700"></th>
        <th class="px-4 py-2 color-2-700">Artist</th>
        <th class="px-4 py-2 color-2-700">Date</th>
        <th class="px-4 py-2 color-2-700">From</th>
        <th class="px-4 py-2 color-2-700">To</th>
        <th class="px-4 py-2 color-2-700">Cost</th>
        <th class="px-4 py-2 color-2-700">Status</
      </tr>
    </thead>
    <tbody>
      <tr class="shadow hover:bgColor-pri-100 pointer">
        <td class="px-4 py-2 color-2-600 border-0  ">
          <div class="rounded-full bgColor-pri h-8 w-8">
            <img class="w-full h-full rounded-full cover" src="./assets/images/a2.jpg" alt="">
          </div>
        </td>
        <td class="px-4 py-2 color-2-600 border-0">Ariana Grande</td>
        <td class="px-4 py-2 color-2-600 border-0">May 20 2020</td>
        <td class="px-4 py-2 color-2-600 border-0">12:00 pm</td>
       <td class="px-4 py-2 color-2-600 border-0  ">16:00 pm</td>
       <td class="px-4 py-2 color-2-600 border-0  ">Ksh 2000</td>
       <td class="px-4 py-2  color-pri">Confirmed</td>
      </tr>

      <tr class="shadow hover:bgColor-pri-100 pointer">
        <td class="px-4 py-2 color-2-600 border-0  ">
          <div class="rounded-full bgColor-pri h-8 w-8">
            <img class="w-full h-full rounded-full cover" src="./assets/images/a.jpg" alt="">
          </div>
        </td>
        <td class="px-4 py-2 color-2-600 border-0  ">Justin Beiber</td>
        <td class="px-4 py-2 color-2-600 border-0  ">May 20 2020</td>
        <td class="px-4 py-2 color-2-600 border-0  ">12:00 pm</td>
       <td class="px-4 py-2 color-2-600 border-0  ">16:00 pm</td>
       <td class="px-4 py-2 color-2-600 border-0  ">Ksh 2000</td>
       <td class="px-4 py-2  color-pri">Confirmed</td>
      </tr>

      <tr class="shadow hover:bgColor-pri-100 pointer">
        <td class="px-4 py-2 color-2-600 border-0  ">
          <div class="rounded-full bgColor-pri h-8 w-8">
            <img class="w-full h-full rounded-full cover" src="./assets/images/a3.jpg" alt="">
          </div>
        </td>
        <td class="px-4 py-2 color-2-600 border-0  ">Selena Gomez</td>
        <td class="px-4 py-2 color-2-600 border-0  ">May 20 2020</td>
        <td class="px-4 py-2 color-2-600 border-0  ">12:00 pm</td>
       <td class="px-4 py-2 color-2-600 border-0  ">16:00 pm</td>
       <td class="px-4 py-2 color-2-600 border-0  ">Ksh 2000</td>
       <td class="px-4 py-2  color-pri">Confirmed</td>
      </tr>



    </tbody>
  </table>
</div>
</main>

 <script type="text/javascript">
 $(document).ready(function() {
   $('#header').load('templates/customer/booking/header.html');
 });



 $("#getChangePassword").click(function () {
     $("#UpdateAccount").hide("slow");
     $("#ChangePasword").show("slow");
 })


  $("#getUpdateAccount").click(function () {
      $("#ChangePasword").hide("slow");
      $("#UpdateAccount").show("slow");
  })

 </script>
