<header class="w-full h-16 bgColor-sec xs:shadow fx fx-j-a fx-i-c ff-pri fixed z-10">
 <div class="w-2/12 h-auto pl-10 bgColor-sec color-pri fw-black fs-xl ">

   <h2><span class="color-2-600">Sky</span>Beat</h2>

 </div>
 <div class="w-5/12 h-auto bgColor-sec">
   <i class="fal fa-search color-2-800 absolute mt-3 ml-3"></i>
   <input class="w-full bgColor-2-100 py-3 px-8 color-2-800 holder:color-2-600 fw-bold
    b-solid border b-color-2-100 rounded outline-0 focus:bgColor-sec"
   type="text" name="" placeholder="Search artist">

   <!-- <div class="w-5/12 h-auto bgColor-sec py-2 px-4 absolute shadow">
     <div class="fx fx-i-c mb-2 pointer">
       <div class="rounded-full bgColor-pri h-8 w-8">
         <img class="w-full h-full rounded-full cover" src="./assets/images/a2.jpg" alt="">
       </div>
      <h5 class="ml-3 color-2-800">Ariana Grande</h5>
     </div>
     <div class="fx fx-i-c mb-2 pointer">
       <div class="rounded-full bgColor-pri h-8 w-8">
         <img class="w-full h-full rounded-full cover" src="./assets/images/a.jpg" alt="">
       </div>
      <h5 class="ml-3 color-2-800">Justin Beiber</h5>
     </div>

   </div> -->

 </div>
 <!-- <div class="w-3/12 h-auto bgColor-sec fx ">

   <button class=" bgColor-pri color-sec fs-md  py-2 px-3 border-0 rounded
   fw-bold ff-pri pointer outline-0 mr-10"
   type="button" name="button">
   <i class="fa fa-sign-in"></i>
   Login
   </button>

   <button class="bgColor-pri color-sec fs-md  py-2 px-3 border-0 rounded
   fw-bold ff-pri pointer outline-0"
   type="button" name="button">
   <i class="fa fa-user"></i>
   Signup
   </button>


 </div> -->
 <div class="w-3/12 h-auto bgColor-sec fx fx-i-c fx-j-btw">

   <a class="no-line" href="#templates/customer/booking/account">
     <div class="fx fx-i-c">
       <div class="rounded-full bgColor-pri h-10 w-10">
         <img class="w-full h-full rounded-full cover" src="./assets/images/pic.jpg" alt="">
       </div>
      <h5 class="ml-3 color-2-800">Tracey George</h5>
     </div>
   </a>

   <button class="bgColor-pri color-sec fs-md py-2 px-3 border-0 rounded
   fw-bold ff-pri pointer outline-0"
   type="button" name="button">
   <i class="fa fa-sign-out"></i> Logout

 </button>
 </div>
</header>
