<div id="header"></div>
  <main class="pt-16 fx">
      <nav class="w-1/6 h-auto">
        <div class="w-1/6 h-screen bgColor-sec xs:shadow fixed flow-auto txt-h-c ff-pri">
          <h4 class="fw-black mt-5 color-2-800">
           <i class="fa fa-list-alt"></i> Artist Categories
          </h4>
          <div class="fw-bold mt-5 color-2-600 flow-auto pb-20">
            <h4 class="py-3 hover:color-2-800 pointer">All artists</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Swahili Gospel</h4>
            <h4 class="py-3 hover:color-2-800 pointer">English Gospel</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Country artists</h4>
            <h4 class="py-3 hover:color-2-800 pointer">African Bongo</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Rock artists</h4>
            <h4 class="py-3 hover:color-2-800 pointer">African taarab</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Pop/Hip-hop</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Rap artists</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Reggae artists</h4>
            <h4 class="py-3 hover:color-2-800 pointer">Jazz artists</h4>

          </div>
        </div>
      </nav>
       <div class="w-10/12 h-auto bgColor-sec ml-3 mt-3 mr-2 fx fx-wrap m-0-auto ff-pri">
         <div class="w-auto h-auto fx bgColor-sec shadow pointer ml-2 mb-2 py-2 px-2">
            <div class="w-24 h-auto bgColor-pri shadow">
             <img class="w-full h-full cover" src="./assets/images/a.jpg" alt="">
            </div>
            <div class="h-full bgColor-sec ml-4 color-2-800 ">
              <h5><span class="fw-black">Name:</span> Justin Beiber</h5>
              <h5 class="pt-1"><span class="fw-black">Genres: </span>Hip-Hop artist</h5>
              <h5 class="pt-1"><span class="fw-black">Cost: </span>Ksh 2000 per hr</h5>
              <button class="bgColor-pri shadow py-1 px-3 mt-2 color-sec border-1 b-solid b-color-pri
              rounded pointer fw-bold hover:bgColor-pri-600 hover:b-color-pri-100 "
               type="button" name="button">book  artist</button>
            </div>
         </div>
         <div class="w-auto h-auto fx bgColor-sec shadow pointer ml-2 mb-2 py-2 px-2">
            <div class="w-24 h-auto bgColor-pri shadow">
             <img class="w-full h-full cover" src="./assets/images/a2.jpg" alt="">
            </div>
            <div class="h-full bgColor-sec ml-4 color-2-800 ">
              <h5><span class="fw-black">Name:</span>  Ariana Grande</h5>
              <h5 class="pt-1"><span class="fw-black">Genres: </span>Hip-Hop artist</h5>
              <h5 class="pt-1"><span class="fw-black">Cost: </span>Ksh 2000 per hr</h5>

              <a href="#templates/customer/booking/service">
                <button class="bgColor-pri shadow py-1 px-3 mt-2 color-sec border-1 b-solid b-color-pri
                rounded pointer fw-bold hover:bgColor-pri-600 hover:b-color-pri-100 "
                 type="button" name="button">book  artist</button>
              </a>
            </div>
         </div>
         <div class="w-auto h-auto fx bgColor-sec shadow pointer ml-2 mb-2 py-2 px-2">
            <div class="w-24 h-auto bgColor-pri shadow">
             <img class="w-full h-full cover" src="./assets/images/a3.jpg" alt="">
            </div>
            <div class="h-full bgColor-sec ml-4 color-2-800 ">
              <h5><span class="fw-black">Name:</span> Selena Gomez</h5>
              <h5 class="pt-1"><span class="fw-black">Genres: </span>Hip-Hop artist</h5>
              <h5 class="pt-1"><span class="fw-black">Cost: </span>Ksh 2000 per hr</h5>
              <button class="bgColor-pri shadow py-1 px-3 mt-2 color-sec border-1 b-solid b-color-pri
              rounded pointer fw-bold hover:bgColor-pri-600 hover:b-color-pri-100 "
               type="button" name="button">book  artist</button>
            </div>
         </div>
         <div class="w-auto h-auto fx bgColor-sec shadow pointer ml-2 mb-2 py-2 px-2">
            <div class="w-24 h-auto bgColor-pri shadow">
             <img class="w-full h-full cover" src="./assets/images/a4.jpg" alt="">
            </div>
            <div class="h-full bgColor-sec ml-4 color-2-800 ">
              <h5><span class="fw-black">Name:</span> Nick Minaj</h5>
              <h5 class="pt-1"><span class="fw-black">Genres: </span>Hip-Hop artist</h5>
              <h5 class="pt-1"><span class="fw-black">Cost: </span>Ksh 2000 per hr</h5>
              <button class="bgColor-pri shadow py-1 px-3 mt-2 color-sec border-1 b-solid b-color-pri
              rounded pointer fw-bold hover:bgColor-pri-600 hover:b-color-pri-100 "
               type="button" name="button">book  artist</button>
            </div>
         </div>

       </div>
       <div id="single_service">

       </div>
     </main>

<script type="text/javascript">
$(document).ready(function() {
  $('#header').load('templates/customer/booking/header.html');
});
</script>
